@import 'common_styles/_variables';

@mixin container-border {
    border: $container-border;
}

@mixin element-border {
    border: 2px solid $primary-colour;
    border-radius: 10px / 50%;

    padding: 3px 10px;
}

@mixin element-border-focused {
    border: 2px solid $secondary-colour;
    border-radius: 10px / 50%;
}

@mixin solid {
    background-color: $primary-colour;
    color: $accent-colour;
}