@import 'common_styles/fonts';

$primary-colour: #1166ff;
$secondary-colour: #78afe6;
$accent-colour: #1aff00;
$background-colour: #eee;
$error-colour: #f32;
$threat-level-0: #ddd;
$threat-level-1: #ffd500;
$threat-level-2: #ff9100;
$threat-level-3: #ff5100;

$main-font-family: 'Ubuntu Mono', monospace;
$main-font-bold: 700;

$container-border: 1px solid $secondary-colour;