@import 'common_styles/_variables';

.App {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: flex-start;
    &__main {
        width: 100%;
        flex-grow: 2;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        height: 100%;
        
        &__list {
            flex: 35%;
        }

        &__view {
            flex: 65%;
        }
    }
	
}
