@import 'common_styles/_ui';
@import 'common_styles/_typography';

.Header {
    @include solid;
    @include container-border;

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    
    &__title {
        @include heading;
        padding: 2rem;
    }

}
